/* Add CSS styling here */

*{
    border:1px solid blue;
}

    


#myName {
    text-align: center;
}

#linksStart{
    text-align: center;
}

#introduction{
    text-align: center;
}

#hugePicture img{
    width:1500px;
    height:1000px;
}

#projectPictures {
    
    display: flex;
    flex-direction:row;
   
}
#projectPictures img{
    width: 300px;
    height:400px;
}

